 /* Importing fonts from Google */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



 /* Reseting */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }




 button {
     border: 0;
 }

 button:hover img {
     position: relative;
     transform: scale(2.5);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
     z-index: 1;
 }

 body {
     /*background: linear-gradient(45deg, #ce1e53, #8f00c7);
     min-height: 100vh;*/
     /*background: linear-gradient(to bottom left, #003399 20%, #99ccff 80%);
     background: linear-gradient(to bottom left, #003399 20%, #00ffff 85%);
     background: linear-gradient(to bottom left, #003399 11%, #00ccff 90%);
     background: linear-gradient(315deg, hsla(26, 83%, 47%, 1) 5%, hsla(60, 22%, 96%, 1) 100%);
      background: linear-gradient(315deg, hsla(212, 80%, 31%, 1) 76%, hsla(0, 0%, 96%, 1) 88%);
      */
     
    
     /* background: linear-gradient(315deg, hsla(212, 95%, 40%, 1) 44%, hsla(0, 0%, 96%, 1) 92%); 
     background: linear-gradient(315deg, hsla(212, 95%, 40%, 1) 70%, hsla(0, 0%, 96%, 1) 86%);
      background: linear-gradient(315deg, hsla(212, 95%, 40%, 1) 70%, hsla(0, 0%, 96%, 1) 86%);
    
     background: linear-gradient(315deg, hsla(212, 95%, 40%, 1) 88%, hsla(212, 54%, 82%, 1) 97%, hsla(0, 0%, 96%, 1) 100%);
     background: linear-gradient(315deg, hsla(212, 95%, 40%, 1) 88%, hsla(212, 54%, 82%, 1) 90%, hsla(0, 0%, 96%, 1) 94%);
     background: linear-gradient(315deg, hsla(212, 95%, 40%, 1) 83%, hsla(212, 54%, 82%, 1) 90%, hsla(0, 0%, 96%, 1) 100%);*/
     /*background: linear-gradient(315deg, hsla(212, 95%, 40%, 1) 70%, hsla(0, 0%, 96%, 1) 86%);
     background: linear-gradient(315deg, #0560c7 83%, #e3e8ee 95%, hsla(0, 0%, 96%, 1) 100%);
     background: rgb(5,96,199);
background: linear-gradient(0deg, rgba(5,96,199,1) 93%, rgba(183,217,255,0.7819502801120448) 96%, rgba(209,229,251,0.8519782913165266) 100%);
background: rgb(5,96,199);
background: linear-gradient(0deg, rgba(5,96,199,1) 94%, rgba(233,237,241,0.7819502801120448) 97%, rgba(162,198,235,0.7819502801120448) 100%);
background: rgb(5,96,199);
background: linear-gradient(0deg, rgba(5,96,199,1) 94%, rgba(233,237,241,0.24413515406162467) 97%, rgba(162,198,235,0.7819502801120448) 100%);

background: rgb(5,96,199);
background: linear-gradient(0deg, rgba(5,96,199,1) 94%, rgba(162,198,235,0.7819502801120448) 97%, rgba(233,237,241,0.9220063025210083) 99%);
color: #d32717;*/
background: linear-gradient(315deg, hsla(212, 95%, 40%, 1) 70%, hsla(0, 0%, 96%, 1) 86%);
}


 body::-webkit-scrollbar {
     display: none;
 }

 .wrapper {
     /*max-width: 800px;*/
     margin: 20px auto;
     padding: 30px 45px;
     box-shadow: 5px 25px 35px #4c519e9d;
 }

 .wrapper label {
     display: block;
     padding-bottom: 0.2rem;
 }

 .wrapper .form .row {
     padding: 0.6rem 0;
 }

 .wrapper .form .row .form-control {
     box-shadow: none;
 }

 .wrapper .form .option {
     position: relative;
     padding-left: 20px;
     cursor: pointer;
 }


 .wrapper .form .option input {
     opacity: 0;
 }

 .wrapper .form .option1 {
     position: relative;
     padding-left: 20px;
     cursor: pointer;
 }


 .wrapper .form .option1 input {
     opacity: 0;
 }

 .wrapper .form .option .checkmark {
     position: absolute;
     top: 1px;
     left: 0;
     height: 20px;
     width: 20px;
     border: 1px solid #bbb;
     border-radius: 50%;
 }

 .wrapper .form .option1 .checkmark {
     position: absolute;
     top: 1px;
     left: 0;
     height: 20px;
     width: 20px;
     border: 1px solid #bbb;

 }

 .wrapper .form .option input:checked~.checkmark:after {
     display: block;
 }

 .wrapper .form .option:hover .checkmark {
     background: #f3f3f3;
 }

 .wrapper .form .option .checkmark:after {
     content: "";
     width: 10px;
     height: 10px;
     display: block;
     background: linear-gradient(45deg, #ce1e53, #8f00c7);
     position: absolute;
     top: 50%;
     left: 50%;
     border-radius: 50%;
     transform: translate(-50%, -50%) scale(0);
     transition: 300ms ease-in-out 0s;
 }

 .wrapper .form .option1 input:checked~.checkmark:after {
     display: block;
 }

 .wrapper .form .option1:hover .checkmark {
     background: #f3f3f3;
 }

 .wrapper .form .option1 .checkmark:after {
     content: "";
     width: 10px;
     height: 10px;
     display: block;
     background: linear-gradient(45deg, #ce1e53, #8f00c7);
     position: absolute;
     top: 50%;
     left: 50%;

     transform: translate(-50%, -50%) scale(0);
     transition: 300ms ease-in-out 0s;
 }

 .wrapper .form .option input[type="radio"]:checked~.checkmark {
     background: #fff;
     transition: 300ms ease-in-out 0s;
 }

 .wrapper .form .option input[type="radio"]:checked~.checkmark:after {
     transform: translate(-50%, -50%) scale(1);
 }

 .wrapper .form .option1 input[type="checkbox"]:checked~.checkmark {
     background: #fff;
     transition: 300ms ease-in-out 0s;
 }

 .wrapper .form .option1 input[type="checkbox"]:checked~.checkmark:after {
     transform: translate(-50%, -50%) scale(1);
 }

 #sub {
     display: block;
     width: 100%;
     border: 1px solid #ddd;
     padding: 10px;
     border-radius: 5px;
     color: #333;
 }

 #sub:focus {
     outline: none;
 }

 @media(max-width: 768.5px) {
     .wrapper {
         margin: 30px;
     }

     .wrapper .form .row {
         padding: 0;
     }
 }

 @media(max-width: 400px) {
     .wrapper {
         padding: 25px;
         margin: 20px;

     }
 }



 .upload_hide {
     width: 100%;
     height: 100%;
     position: absolute;
     background-color: red;
     opacity: 0;

 }

 .upload_label {
    position: absolute;
    width: auto;
    height:auto;
    border: 2px dashed #139CFF;
    text-align: center;
    border-radius: 8px;
  
 }

 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}